@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 244, 245, 247;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
  background: rgb(var(--background-start-rgb));
}

@layer base {
  h1 {
    @apply text-2xl font-bold mb-4 text-primary-600;
  }
  h2 {
    @apply text-xl font-semibold mb-3 text-primary-500;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary hover:bg-primary-600 text-white px-4 py-2 rounded-lg transition-colors;
  }
  
  .card {
    @apply bg-white rounded-xl shadow-lg p-6 border border-gray-100;
  }
}
